@import './settings';
@import './components/navigation';
@import './pages/accueil';
@import './components/réseaux';
@import './components/scrollBottom';
@import './pages/contact';
@import './components/Logo';
@import './pages/widget';
@import './pages/notFound';
@import './components/texteAccueil';

#map {
    height: 600px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    padding-top: 15%;
   }