.container-register {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.form-register{
    display: flex;
    flex-direction: column;

}

.form-register input{
    margin-top: 5px;
    padding: 6px;
}

.form-register button{
    height: 40px;
    margin-top: 5px;
    border-radius: 15px;
    background-color: black;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    transition-duration: 0.3s;
}

.form-register button:hover{
    background-color: white;
    color: black;
}